@charset "utf-8";
@import url(./reset.css);

/* -------Basic-styles------ */

:root {
    --primary-bg-color: #0f1a31;
    --secondary-bg-color: #1d2333;
    --body-font-color: #fff;
    --section-bg-color: rgb(41 60 146 / 30%);
    --card-bg-color: #ccc;
    --primary-blue: #293c92;
    --secondary-blue: #5c9cfd;
    --primary-red: #fb4501;
    --linkedin-color: #0077b5;
    --github-color:#2dba4e;
    --tiktok-color:#ff0050;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

.container.main-container {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

main {
    height: calc(100dvh - 80px - 60px);
    display: inline;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'IBM Plex Sans', sans-serif;
    color:var(--body-font-color);
}

html, body {
    height: 100%;
}
.header {
    height: 120px;
}

header {
    background-color: transparent;
    overflow: hidden;

}

header nav {
    width: 60%;
    text-align: right;
}

h1 {
    font-size: 65px;
    color: var(--body-font-color);
    letter-spacing: 10px;
    line-height: 80px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

h1, h2 {
    font-family: 'Xeroda', sans-serif;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

p {
    letter-spacing: 1.5px;
    line-height: 30px;
}

.inner-header h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}

.main-logo {
    width: 50%;
}

nav ul {
    font-size: 0;
}

nav ul li {
    display: inline;
}

nav ul li + li {
    padding-left: 25px;
}

.nav-items a, footer a, .primary-button, .secondary-button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.20s ease-in-out;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 19px;
}

.nav-items a {
    color: #fff;
}

.nav-items a:hover {
    color:var(--primary-red);
}

li.mobile-menu {
    font-size: 14px;
}

.hero {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, var(--primary-blue) 9%, var(--secondary-blue) 100%);
    color:white;
    height: 100%;
    width: 100%;
}

.logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
}
  
.inner-header {
    height:35vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.inner-header.flex {
    flex-direction: column;
    height: 65vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; 
    min-height:100px;
    max-height:150px;
}

.hero-banner {
    position: relative;
}

.hero-banner > * {
    z-index: 10;
    position: relative;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}

.flex .form {
    width: 50%;
    text-align: left;
}

.flex .map {
    width: 50%;
    text-align: right;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #0077b5;
    border-radius: 3px;
    background-color: #0f1a31;
}

input[type=text]:focus {
    border: 3px solid #fb4501;
}

input[type=textarea] {
    width: 100%;
    padding: 12px;
    background-color: #0f1a31;
    border: 3px solid #0077b5;
    border-radius: 3px;
    /* resize: vertical; */
}

input[type=textarea]:focus {
    border: 3px solid #fb4501;
}

input[type=submit] {
    border-radius: 6px;
    background-color: #0077b5;
    color: #fff;
    border-color: 3px solid #fff;
    padding: 12px 20px;
    margin: 10px 0;
}

input[type=submit]:hover {
    border: 3px solid #fb4501;
}

div .map {
    width: 100%;
    height: 250px;
}

.circle-image {
    height: 250px;
    width: 250px;
}

.circle-image img {
    border-radius: 50%;
}

.circle-img {
    width: 30%;
}

.about-link {
    width: 70%;
}

button {
    border-radius: 6px;
    color: #fff;
    padding: 12px 20px;
    background-color: #0077b5;
}

button:hover {
    border-radius: 6px;
    padding: 12px 20px;
    color: #fff;
    background-color: #fb4501;
}

.continue-link {
    background-color: #122346;
}

footer {
    background-color: var(--section-bg-color);
    position: relative;
    display: flex;
    height: 60px;
    margin-top: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav {
    width: 50%;
}

.copyright {
    justify-content: flex-end;
    width: 50%;
    font-size: 14px;
}

.copyright p {
    text-align: right;
    color: #fff;
}

.social-icons a {
    background-color: rgb(255 255 255 / 20%);
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
}

.linkedin:hover {
    color:var(--linkedin-color);
}

.tiktok:hover {
    color:var(--tiktok-color);
}

.git-hub:hover {
    color:var(--github-color);
}

.social-icons i {
    border-radius: 50%;
    padding: 7px;
}
