@charset "utf-8";
@import url(./reset.css);

:root {
    --secondary-bg-color: #212121;
    --footer-bg-color: #1d2333;
    --primary-bg-color: #121212;
    --body-font-color: #fff;
    --card-bg-color: #ccc;
    --primary-blue: #293c92;
    --secondary-blue: #5c9cfd;
    --primary-red: #fb4501;
    --linkedin-color: #0077b5;
    --github-color:#2dba4e;
    --tiktok-color:#ff0050;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

main {
    height: calc(100dvh - 80px - 60px);
    display: inline;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'IBM Plex Sans', sans-serif;
    color:var(--body-font-color);
}

html, body {
    height: 100%;
}

/* ----------------- */

header {
    background-color: transparent;
    overflow: hidden;

}

.header {
    height: 80px;
}

header nav {
    width: 60%;
    text-align: right;
}

h1 {
    font-size: 65px;
    color: var(--primary-red);
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 80px;
    font-family: 'Xeroda', sans-serif;
}

h2 {
    font-size: 32px;
}

h3 {
    text-align: center;
}

.main-logo {
    width: 50%;
}
h1 strong {
    color:var(--primary-red);
}

nav ul {
    font-size: 0;
}

nav ul li {
    display: inline;
}

nav ul li + li {
    padding-left: 25px;
}

.nav-items a, footer a, .primary-button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.20s ease-in-out;
    letter-spacing: 1.2px;
}

.nav-items a {
    color: #fff;
}

.nav-items a:hover {
    color:var(--primary-red);
}

/* ----------------- */
.hero {
    background: #000 url("../img/Stocksy_comp_watermarked_2977585.gif") center center / cover no-repeat scroll;
    height: 500px;
    width: 100%;
    backdrop-filter: hue-rotate(45deg);
}

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index-img {
    width:250px;
}

.primary-button {
    border: 1px solid var(--primary-red);
    background-color:#fb45019e;
    color: #fff;
    border-radius: 25px;
    padding: 7px 20px;
    margin: 15px;
    
}

.secondary-button {
    border: 1px solid var(--primary-red);
    background-color: #fb45019e;
    color: #fff;
    border-radius: 25px;
    padding: 7px 20px;
    margin: 15px;
}

input.primary-button:hover {
    background-color: var(--primary-red);
}

.container.main-container {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-one, .section-two {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    padding: 15px;
    border-radius: 10px;
}
.section-one {
    width: 75%;
}

.section-two {
    width: calc(100% - 18.75px);
}

section {
    margin: 100px 60px 10px 60px;
    height: 100%;
    width: 100%;
}

.column {
    margin: 60px;
}

.column img {
    margin-top: 25px;
}

footer {
    background-color: var(--footer-bg-color);
    position: relative;
    display: flex;
    height: 60px;
    margin-top: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav {
    width: 50%;
}

.copyright {
    justify-content: flex-end;
    width: 50%;
    font-size: 14px;
}

.copyright p {
    text-align: right;
    color: #fff;
}

.social-icons a {
    background-color: rgb(255 255 255 / 20%);
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
}


.linkedin:hover {
    color:var(--linkedin-color);
}

.tiktok:hover {
    color:var(--tiktok-color);
}

.git-hub:hover {
    color:var(--github-color);
}

.social-icons i {
    border-radius: 50%;
    padding: 7px;
}

