@charset "utf-8";
@import url(./reset.css);

/* -------Basic-styles------ */

:root {
    --primary-bg-color: #0f1a31;
    --secondary-bg-color: #1d2333;
    --body-font-color: #fff;
    --section-bg-color: rgb(41 60 146 / 30%);
    --card-bg-color: #ccc;
    --primary-blue: #293c92;
    --secondary-blue: #5c9cfd;
    --primary-red: #fb4501;
    --linkedin-color: #0077b5;
    --github-color:#2dba4e;
    --tiktok-color:#ff0050;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

.container.main-container {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

main {
    height: calc(100dvh - 80px - 60px);
    display: inline;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Poppins', sans-serif;
    color:var(--body-font-color);
}

html, body {
    height: 100%;
}

/* --------Header------- */

.header {
    height: 100px;
}

header.header-index {
    background-color: transparent;
    overflow: hidden;

}

header nav {
    width: 60%;
    text-align: right;
}

h1 {
    font-size: 65px;
    color: var(--body-font-color);
    letter-spacing: 10px;
    line-height: 80px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

h1, h2 {
    font-family: 'Xeroda', sans-serif;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

.section-one p, h3 {
    text-align: left;
}

p {
    letter-spacing: 0.2px;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.inner-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.main-logo {
    width: 50%;
}

nav ul {
    font-size: 0;
}

nav ul li {
    display: inline;
}

nav ul li + li {
    padding-left: 25px;
}

.nav-items a, footer a, .primary-button, .secondary-button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.20s ease-in-out;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 19px;
}

.nav-items a {
    color: #fff;
    font-family: 'Xeroda', sans-serif;
}

.nav-items a:hover {
    color:var(--primary-red);
}

li.mobile-menu {
    font-size: 14px;
}

.hero {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, var(--primary-blue) 9%, var(--secondary-blue) 100%);
    color:white;
    height: 100%;
    width: 100%;
}
  
.inner-header {
    height:35vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.inner-header.flex {
    flex-direction: column;
    height: 65vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; 
    min-height:100px;
    max-height:150px;
}

.hero-banner {
    position: relative;
}

.hero-banner > * {
    z-index: 10;
    position: relative;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}

.flex .form {
    width: 50%;
    text-align: left;
}

.flex .map {
    width: 50%;
    text-align: right;
}

/* -------Waves animation------ */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -3s;
    animation-duration: 7s;
    fill: rgb(92 156 253 / 30%);
}

.parallax > use:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 10s;
    fill: rgb(92 156 253 / 50%);
}

.parallax > use:nth-child(3) {
    animation-delay: -5s;
    animation-duration: 13s;
    fill: rgb(92 156 253 / 70%);
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: var(--primary-bg-color);
}

@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
    transform: translate3d(85px,0,0);
    }
}

/* -------Sections------ */
.section-one, .section-two {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    /* background-color: var(--section-bg-color); */
    padding: 30px;
    border-radius: 10px;
}

section {
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

.section-img {
    display: flex;
    justify-content: center;
    align-items: self-end;
    margin-top: 50px;
}

.section-one {
    width: 50%;
}

.section-one h2, .section-two h2 {
    color: var(--primary-red);
}

.section-two {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section-one.three-quarters {
    width: 80%;
    margin-inline: auto;
    margin-top: 60px;
}

hr {
    margin: 0 auto;
    margin-top: 250px;
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--secondary-blue) , rgba(255, 255, 255, 0));
}

.column {
    flex: 0 1 auto;
    width: calc(25% - 15px);
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column img {
    margin-top: 25px;
    width: 70%;
    padding: 20px;
    /* border: 1px solid;
    background-color: #ffffff1f; */
    border-radius: 10px;
}

.index-img {
    width: 200px;
    height: 200px;
}

/* -------Buttons------ */

.primary-button {
    border: 1px solid var(--primary-red);
    background-color:#fb45019e;
}

.secondary-button {
    border: 1px solid #fff;
    background-color: #ffffff1f;
}

input.secondary-button:hover {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--secondary-bg-color);
}

input[type=button], input[type=submit] {
    color: #fff;
    border-radius: 25px;
    padding: 7px 20px;
    margin: 20px 5px 0px 5px;
    line-height: 24px;
}

input.primary-button:hover {
    background-color: var(--primary-red);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #0077b5;
    border-radius: 3px;
    background-color: #0f1a31;
}

input[type=text]:focus {
    border: 3px solid #fb4501;
}

input[type=textarea] {
    width: 100%;
    padding: 12px;
    background-color: #0f1a31;
    border: 3px solid #0077b5;
    border-radius: 3px;
    /* resize: vertical; */
}

input[type=textarea]:focus {
    border: 3px solid #fb4501;
}

/* ------About us-------- */

.tall-image {
    width: 50%;
    border-radius: 6px;
}

.description {
    width: 50%;
    background-color: var(--section-bg-color);
    padding: 19px;
    border-radius: 6px;
}

.description p {
    font-size: 13px;
}

.description h3 {
    font-size: 16px;
    font-weight: 400;

}



/* ------Contact us------ */
div .map {
    width: 100%;
    height: 250px;
}

.circle-image {
    height: 250px;
    width: 250px;
}

.circle-image img {
    border-radius: 6px;
}

.circle-img {
    width: 30%;
}

.about-link {
    width: 70%;
}

.continue-link {
    background-color: #122346;
}

.continue-link {
    align-items: center;
    text-align: left;
    gap: 40px;
    margin: 0;
}

/* -------Footer------ */

footer {
    background-color: var(--section-bg-color);
    position: relative;
    display: flex;
    height: 60px;
    margin-top: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav {
    width: 50%;
}

.copyright {
    justify-content: flex-end;
    width: 50%;
    font-size: 14px;
}

.copyright p {
    text-align: right;
    color: #fff;
}

.social-icons a {
    background-color: rgb(255 255 255 / 20%);
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
}

.linkedin:hover {
    color:var(--linkedin-color);
}

.tiktok:hover {
    color:var(--tiktok-color);
}

.git-hub:hover {
    color:var(--github-color);
}

.social-icons i {
    border-radius: 50%;
    padding: 7px;
}

/* --------Hover header animation---------- */

main .page-title {
    position: relative;
    display: flex;
    height: 250px;
    background: linear-gradient(60deg, var(--primary-blue) 9%, var(--secondary-blue) 100%);
    justify-content: center;
    align-items: center;
}

header.not-index {
    background: linear-gradient(60deg, var(--primary-blue) 0%, var(--secondary-blue) 96%);
}

.page-title h2 {
	color: #fff;
	font-size: 4em;
	position: absolute;
	transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-family: 'Poppins', sans-serif;
}

.page-title h2:nth-child(1) {
    -webkit-text-stroke: 2px;
    color: #fff;
}

.page-title h2:nth-child(2) {
    color: var(--secondary-blue);
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


/* -------Mobile------ */

@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
        font-size: 14px;
    }
    .nav-item {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
        font-size: 0px;
    }
}

@media (max-width: 768px) {
    .column , .section-one {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .column, .section-one {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .column, .section-one {
        width: 100%;
    }
}
